@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Lato:400');

@import "settings";
@import "mixins";
@import "normalize";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-size: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-style: normal;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  margin: 0;
  padding: 0;
  cursor: auto;

  /*@media #{$small-pic-bp} {
		position: relative;

		&:before {
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			min-height: $r-min-height;
			background: url('../../images/R.svg') $r-top $r-left no-repeat;
			background-size: auto 80%;
			z-index: -1;
			opacity: $r-opacity;
		}
	}*/
}

// Hide these elements visibly, but make sure they're still viewable by screen readers.
.for-screen-reader {
  @include for-screen-reader();
}

iframe {
  border: 0;
  margin: 0 0 1rem;
}

// Stylize the "Skip To Content" link
#skip-nav {
  display: block;
  background: $skip-nav-bg;
  position: fixed;
  top: -1000px;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0 $skip-nav-padding-horiz;
  margin: 0;
  z-index: -1;
  clip: rect(1px, 1px, 1px, 1px);
  color: $skip-nav-color;
  font-size: $skip-nav-font-size;
  font-weight: $skip-nav-font-weight;
  line-height: $skip-nav-height;
  text-decoration: underline;
  text-align: center;

  &:active,
  &:focus,
  &:hover {
    clip: auto;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 10000;
  }
}

#wrapper {
  min-height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;

  @media #{$small-pic-bp} {
    padding-top: $wrapper-padding-top;
  }
}

#bamadesigner-pic-small {
  display: block;
  height: $small-pic-height;
  margin: 0 0 $small-pic-margin-bottom 0;
  background-image: url(../images/rachel-cherry-silly-small.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 98%;
    background: rgba(255, 255, 255, 0.4);
  }

  @media #{$small-pic-bp} {
    display: none;
  }
}

.not-bamadesigner-pic-small {
  display: none;

  @media #{$small-pic-bp} {
    display: block;
  }
}

/*#subscribe-form {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	.subscribe-form-container {
		background: #fff;
		z-index: 0;
		width: 300px;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .6;
		z-index: -1;
	}
}*/

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-horiz-padding-small;

  @media #{$container-max-bp} {
    padding-left: $container-horiz-padding;
    padding-right: $container-horiz-padding;
  }
}

.callout {
  display: block;
  background: $callout-bg;
  padding: $callout-padding-vert $callout-padding-horiz;
  margin: $element-margin-vert 0;
  color: $callout-color;

  a {
    color: inherit;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &.center {
    text-align: center;
  }

  &.primary {
    background: $primary-color;
    color: #fff;
  }

  &.blue {
    background: $dark-blue;
    color: #fff;
  }

  &.light-blue {
    background: rgba($dark-blue, 0.1);
    color: #fff;
  }

  &.bigger {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}

@import "components/general";
@import "components/header";
@import "components/body";
@import "components/comments";
@import "components/footer";
